<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 926px;">
      <section class="content-header">
        <h1> Chat </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">  Chat </li>
        </ol>
        <section class="content">




          <main *ngFor="let thread of exampleItems ">

          <mat-list>
            <mat-list-item>
              <img matListAvatar src="thread.avatar  " alt="hey">
                <p mat-line (click)=messageDetail(thread.id) > {{thread.id}}</p>
                <p mat-line>last message here</p>
            </mat-list-item>
        </mat-list>
      </main>
      
        </section>
      </section>
    
      
    </div>