<div class="container">
 <!--   <form>

        
            <div class="controles">
              <div class="bottom-row">
                <button mat-raised-button color="primary" type="submit"  (click)="getdate(selectedDate)">Add</button>
              </div>
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Social_Reason</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">DateCreated</th>
                    <th scope="col">Settings </th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of exa">
                  <tr>
                    <td>{{item.Social_Reason}}</td>
                    <td>{{item.Phone}}</td>
                    <td>{{item.Mail}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{item.Role}}</td>
                    <td>{{item.DateCreated}}</td>
                    <td>
                      <button  mat-icon-button   (click)="  onEditProspect(item)" ><mat-icon>launch</mat-icon></button>
                     
                    </td>
                     
                
                  </tr>
                 
                </tbody>
               
              </table>
            </div>
         
        <mat-grid-tile>
        </mat-grid-tile>
   
    
      </form>


-->
     
</div>