
<div class="container">
    <mat-toolbar > 
    <span class="fill-remaining-space"></span> 
      <span>Notes </span>
    <span class="fill-remaining-space"></span>
    
    <button class="btn btn-btn btn-success" color="warn" (click)="onAddNote()" tabIndex="-1">create</button>
    <button mat-stroked-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
  
    </mat-toolbar>
   
  
    <mat-card class="card-space" *ngFor="let items of exampl">
      <mat-card-header>
          <mat-card-title> <strong> Note :</strong> {{items.idNote}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>{{items.textNote}}
        <button mat-stroked-button color="warn" (click)="onEditNote(items)" tabIndex="-1"><mat-icon>refresh</mat-icon></button>
        <button mat-stroked-button color="warn" (click)="onDeleteNote(items.idNote)" tabIndex="-1"><mat-icon>delete_outline</mat-icon></button>
      </mat-card-content>
    </mat-card>
  
    
    </div>