<div class="container">
    <mat-toolbar >
      <span class="fill-remaining-space"></span> 
        <span>New Email </span>
      <span class="fill-remaining-space"></span>
      <button mat-stroked-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
    </mat-toolbar>


<form [formGroup]="service.formemail" class="normal-form" >
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container"  *ngFor="let item of exampleItems">
          <input type="hidden" formControlName="$key" >
          <mat-form-field>
            <input  matInput placeholder="Email*"  [value]="item.desc" (input)="item.desc=$event.target.value">
            <mat-error>this Field is mandatory</mat-error>
          </mat-form-field>
          
          <div class="bottom-row">
            <button mat-raised-button color="primary" type="submit" (click)="updateNote(item)">Add</button>
        
          </div>
        </div>
        
      </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    </mat-grid-list>

  </form>
  </div>