
<div class="container">
    <mat-toolbar >
    <span class="fill-remaining-space"></span> 
      <span>{{title}} </span>
    <span class="fill-remaining-space"></span> 

    <button mat-stroked-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
  
    </mat-toolbar>
    <form [formGroup]="service.form" class="normal-form"  >
        <mat-grid-list cols="2" rowHeight="300px">
          <mat-grid-tile>
            <div class="controles-container-prospect spic" >
                <input type="hidden" formControlName="$key" >
                <h4>Commercail</h4>
                <mat-form-field >
                  <mat-label>Choose an Commercial</mat-label>
                      <mat-select formControlName="idCommercialAss"  placeholder="Commercial Affect*"  [(value)]="selectedFood" >
                          <ng-container *ngFor="let items of exampleItem" > 
                              <mat-option [value]="items.id" >{{items.data.FirstName}} {{items.data.LastName}}</mat-option>
                          </ng-container>
                      </mat-select>
                </mat-form-field>
                 <mat-form-field>
                  <input formControlName="description" matInput placeholder="description " [(value)]="selectedDescription" (input)="selectedDescription=$event.target.value" >
                </mat-form-field>
          
             
            <div class="bottom-row">
              <button mat-raised-button color="primary" type="submit" (click)="updateAssignment(selectedFood,selectedDescription)" >Add</button>

          </div>
        
  </div>
            
          </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        </mat-grid-list>
    
      </form>
  

    </div>  