
<div class="container">
    <mat-toolbar >
    <span class="fill-remaining-space"></span> 
      <span>Prospect Manger </span>
    <span class="fill-remaining-space"></span>
    
    <button class="btn btn-btn btn-success" color="warn" (click)="onAddProMang()" tabIndex="-1">create</button>
  
    <button mat-stroked-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
  
    </mat-toolbar>
   
  
    <mat-card class="card-space" *ngFor="let items of exampl">
      <mat-card-header>
          <mat-card-title> <strong> Prospect Manger : </strong> {{items.data.LastName}} {{items.data.FiretName}} </mat-card-title>
          <mat-card-subtitle>  {{items.data.Funct}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <p>  <strong> Adress : </strong> {{items.data.Adress}} </p>
       <p>  <strong> Phone : </strong> {{items.data.Phone}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn" (click)="onEditProMang(items)" tabIndex="-1"><mat-icon>refresh</mat-icon></button>
        <button mat-stroked-button color="warn" (click)="onDeleteNote(items.idProspectManger)" tabIndex="-1"><mat-icon>delete_outline</mat-icon></button>
      </mat-card-actions>
    </mat-card>

 
    </div>