
  <!-- Main content 
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h4 class="box-title">Draggable Events</h4>
            </div>
            <div class="box-body">
              
              <div id="external-events">
                <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">Lunch</div>
                <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Go home</div>
                <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Do homework</div>
                <div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Work on UI design</div>
                <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Sleep tight</div>
                <div class="checkbox">
                  <label for="drop-remove">
                    <input type="checkbox" id="drop-remove">
                    remove after drop
                  </label>
                </div>
          
              </div>
            </div>
            
        <div>
         
        </div>   
          </div>
         </div>
        </div>
        <div class="col-md-9">
          <full-calendar
          defaultView="dayGridMonth"
          [plugins]="calendarPlugins"
          [weekends]="true"
          [events]="[
            { title: 'event 1', date: '2020-05-08' },
            { title: 'event 2', date: '2020-05-07' }
          ]"
        ></full-calendar>
        </div>
      
    </section>


  -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h4 class="box-title">Draggable Events</h4>
          </div>
          <div cdkDropList [cdkDropListData]="examplenote" (cdkDropListDropped)="drop($event)" >
            <!-- the events -->
            <div id="external-events" *ngFor="let item of examplenote" cdkDrag >
              <div class="external-event {{item.data.cal}} ui-draggable ui-draggable-handle" style="position: relative;">{{item.data.title}}</div>
             
             <!--
          <div class="checkbox">
                <label for="drop-remove">
                  <input type="checkbox" id="drop-remove">
                  remove after drop
                </label>
              </div><div class="checkbox">
                <label for="drop-remove">
                  <input type="checkbox" id="drop-remove">
                  remove after drop
                </label>
              </div>
             --> 
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Create Event</h3>
          </div>
          <div class="box-body" *ngFor="let item of exampleItem" >
            <div class="btn-group" style="width: 100%; margin-bottom: 10px;" (input)="item.cal=$event.target.value">
              <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
              <ul class="fc-color-picker" id="color-chooser" >
                <li><a class="text-aqua"  ><i class="fa fa-square"></i></a></li>
                <li><a class="text-blue" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-light-blue" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-teal" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-yellow" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-orange" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-green" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-lime" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-red" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-purple" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-fuchsia" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-muted" ><i class="fa fa-square"></i></a></li>
                <li><a class="text-navy" ><i class="fa fa-square"></i></a></li>
              </ul>
            </div>
            <!-- /btn-group -->
            <div class="input-group"  >
              <input id="new-event" type="text" class="form-control" placeholder="Event Title" [value]="item.title" (input)="item.title=$event.target.value">

              <div class="input-group-btn" >
                <button id="add-new-event" type="button" class="btn btn-primary btn-flat"  (click)="saveEvent(item)">Add</button>
              </div>
              <!-- /btn-group -->
            </div>
            <!-- /input-group -->
          </div>
        </div>
      </div>
      <!-- /.col -->
<div cdkDropList #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
      <div class="col-md-9">
        <div class="box box-primary">
          <div class="container-fluid" >
            <!-- THE CALENDAR -->
            
            <full-calendar    defaultView="dayGridMonth"
            (dayRender)="dayRender($event)"
             [hiddenDays]="[0]" [header] = "{
               left: 'title',
               center: 'dayGridMonth, dayGridWeek, dayGridDay, listWeek, listDay',
               right: 'today prev, next'
              }"
              [buttonText]="{listWeek:'List Week', listDay :'List Day'}"
           [plugins]="calendarPlugins" [events]="[calendarEvents ]"
          >
        </full-calendar>
        
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
  </div>
    <!-- /.row -->
  </div>
  </section>