<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel" *ngFor="let item of exampleItem" >
      <div class="pull-left image">
        <img src={{item.data.image}} class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{item.data.FirstName}} {{item.data.LastName}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>

      
      <li>
        <a (click) = "home()" >
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a> 
      </li>
     
    
      <li class="">
        <a (click)="Prospect()"  >
          <i class="fa fa-files-o"></i> <span>Prospect</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" >
          <li><a (click)=assignment()  ><i class="fa fa-circle-o"></i>assignment</a></li>
          <li class="active"><a (click)="archivage()"><i class="fa fa-circle-o"></i> archivage</a></li>
        </ul>
      </li>

      <li class="">
        <a (click)="Client()">
          <i class="fa fa-th"></i> <span>Client</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>


      <li class="">
        <a (click)="Commerical()" *ngIf="isAdmin" >
          <i class="fa fa-users"></i> <span>commercial</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
      <li class="">
        <a (click)="Chat()" >
          <i class="fa fa-laptop"></i><span>Chat</span>
        </a>
      </li>
      <li>
        <a (click)="calender()" >
          <i class="fa fa-calendar"></i> <span>programme de visite</span>
        <!--
          <span class="pull-right-container">
            <small class="label pull-right bg-red">3</small>
            <small class="label pull-right bg-blue">17</small>
          </span>
        --> 
        </a>
      </li>

    <!--
<li (click)="Note()">
        <a (click)="Note()" >
          <i class="fa fa-edit"></i> <span>Note</span>
        </a>
      </li>

    -->  
      <li>
        <a (click)="Mailbox()" >
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-yellow">12</small>
            <small class="label pull-right bg-green">16</small>
            <small class="label pull-right bg-red">5</small>
          </span>
        </a>
      </li>
     
     
    
</ul>
  </section>
  <!-- /.sidebar -->
</aside>