

<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 926px;">
      <section class="content-header">
        <h1> Calendar </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active"> Calendar </li>
        </ol>
        <section class="content">
            <app-dash-page></app-dash-page>
        </section>
      </section>
    
      
    </div>

    
    <app-footernavbar></app-footernavbar>
    <app-settingsnavbar></app-settingsnavbar>
   
  </div>