<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 926px;">
      <section class="content-header">
        <h1>Assignment </h1>
        <ol class="breadcrumb">
          <li><a (click) = "Home()" ><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active" (click)="Prospect()">  Prospect </li>
          <li class="active">
            Assignment  
          </li>
        </ol>
        <section class="content">
          <div class="container">
            <mat-tab-group>
              <mat-tab label="Affect" *ngIf="isAdmin">  
           
            <div class="pad">
              <form>
                <div class="form-group example-list">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">ID Commercial</th>
                        <th scope="col">ID prospect</th>
                        <th scope="col">Date Of Assignment</th>
                        <th scope="col">Id Commercial Affect</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of exampleCommercials ">
                    <mat-spinner [ngClass]="{'hide': item!=null}">loading ..</mat-spinner> 
                      <tr>
                        <td >{{item.id}}</td>
                        <td>{{item.data.IdCommercial}}</td>
                        <td>{{item.data.IdProspect}}</td>
                        <td>{{item.data.DateOfAssignment}}</td>
                        <td>{{item.data.IdCommercialAffect }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" ></mat-paginator>
                </div>
              </form>
            </div>
    </mat-tab>
    <mat-tab label=" My Prospect "> 
      <div class="pad">
        <form>
          <div class="form-group example-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID Prospect</th>
                  <th scope="col">Social Reason</th>
                  <th scope="col">Address</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Mail</th>
                </tr>
              </thead>
              <tbody *ngFor="let it of  infos">
             
                <tr>
                  <td >{{it.id}}</td>
                  <td>{{it.data.Social_Reason}}</td>
                  <td>{{it.data.Address}}</td>
                  <td>{{it.data.Phone}}</td>    
                  <td>{{it.data.Mail}}</td> 
                  
                  <td>
                    <button  mat-icon-button   (click)="onAssignmentProspect(it)" ><mat-icon>launch</mat-icon></button>
                  </td>
                
                </tr>
              </tbody>
            </table>
            <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" ></mat-paginator>
          </div>
        </form>
      </div>
     </mat-tab>
    <mat-tab label="Valid Affectation" *ngIf="isAdmin"> 
      <div class="pad">
        <form>
          <div class="form-group example-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">ID Commercial</th>
                  <th scope="col">ID prospect</th>
                  <th scope="col">Date Of Assignment</th>
                  <th scope="col">Id Commercial Affect</th>
                </tr>
              </thead>
              <tbody *ngFor="let changed of examplChanged ">
             
                <tr> 
                  <td >{{changed.id}}</td>
                  <td>{{changed.data.IdCommercial}}</td>
                  <td>{{changed.data.IdProspect}}</td>
                  <td>{{changed.data.DateOfAssignment}}</td>
                  <td>{{changed.data.IdCommercialAffect}}</td>
                    <button  mat-icon-button color="primary" (click)="onValide(changed)" > <mat-icon>check</mat-icon> </button>
                    <button  mat-icon-button color="warn" (click)="onRefus(changed)" > <mat-icon>close</mat-icon> </button>
                </tr>
              </tbody>
            </table>
            <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" ></mat-paginator>
          </div>
        </form> 
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

        </section>
      </section>
    
    </div>
</div>