<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" style="min-height: 926px;">
      <section class="content-header">
        <h1>Assignment </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active" (click)="Prospect()">  Prospect </li>
          <li class="active">
            Assignment 
          </li>
        </ol>
        <section class="content">
          <div class="container">
            <mat-tab-group>
              <mat-tab label="First" >  
           
            <div class="pad">
              <form>
                <div class="form-group example-list">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">ID Commercial</th>
                        <th scope="col">ID prospect</th>
                        <th scope="col">Date Of Assignment</th>
                        <th scope="col">Id Commercial Affect</th>
                        <th scope="col">description</th>
                        <th scope="col">valid</th>
                      
                      
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of exampleCommercials ">
                    <mat-spinner [ngClass]="{'hide': item!=null}">loading ..</mat-spinner> 
                      <tr>
                        <td >{{item.id}}</td>
                        <td>{{item.data.IdCommercial}}</td>
                        <td>{{item.data.IdProspect}}</td>
                        <td>{{item.data.DateOfAssignment}}</td>
                        <td>{{item.data.IdCommercialAffect }}</td>
                        <td>{{item.data.description}}</td>
                        <td>{{item.data.valid}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" ></mat-paginator>
                </div>
              </form>
            </div>
    </mat-tab>
    <mat-tab label="Second"> 
      <div class="pad">
        <form>
          <div class="form-group example-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">ID prospect</th>
                  <th scope="col">Date Of Assignment</th>
                  <th scope="col">Id Commercial Affect</th>
                  <th scope="col">description</th>
                  
                
                
                </tr>
              </thead>
              <tbody *ngFor="let it of  examplMyProspect ">
             
                <tr>
                  <td >{{it.id}}</td>
                  <td>{{it.Social_Reason}}</td>
                  <td>{{it.Address}}</td>
                  <td>{{it.Phone }}</td>    
                
                  
                  <td>
                    <button  mat-icon-button   (click)="  onAssignmentProspect(it)" ><mat-icon>launch</mat-icon></button>
                  </td>
                
                </tr>
              </tbody>
            </table>
            <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" ></mat-paginator>
          </div>
        </form>
      </div> </mat-tab>
    <mat-tab label="Third"> <p>kacem</p></mat-tab>
  </mat-tab-group>

</div>

        </section>
      </section>
    
    </div>
</div>