/* You can add global styles to this file, and also import other style files */
@import url(assets/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(assets/bower_components/font-awesome/css/font-awesome.min.css);
@import url(assets/bower_components/Ionicons/css/ionicons.min.css);
@import url(assets/bower_components/jvectormap/jquery-jvectormap.css);
@import url(assets/dist/css/AdminLTE.min.css);
@import url(assets/dist/css/skins/_all-skins.min.css);
@import "assets/plugins/iCheck/square/blue.css";


.back{
    padding: 10% ;
    background-image:url('assets/back.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
   }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
agm-map{
    height: 400px;
   width: auto;
}

div.container{
    margin: 0px 40px;
    
    }
    div.contai{
      margin: 0px 20px;
      
      }
    .fill-remaining-space{
      /*this fills the remaining space, by using flexbox*/
      flex: 1 1 auto;
    }
    form.normal-form{
      margin: 10px ;
      }
    .controles-container {
      width:  100%;

      padding: 10px;
    }
    .controles-container-prospect {
      width:  100%;
     
      padding: 3px;
    }
    .controles-container > * {
      width:  100%;
   
    }
    .add-bottom-padding {
      padding-bottom:  10px;
      ;
    }
  
    .button-row button {
      margin: 15px;
    }
    .card-space{
      margin: 10px;
      size: 10px;

    }
    .btn-success {
      margin: 5px;
    }

    /* notification */

    snack-bar-container.success {
      background-color: #5cb85c;
      color: #fff;
    }

    snack-bar-container.warn {
      background-color: #f99157;
      color: #fff;
    }

    snack-bar-container.notification simple-snack-bar {
      font-size: 18px !important;
      font-weight: bold;

    }
    .confirm-dialog-container #yes-button {
      height: 50px;
      width: 50%;
      background-color: #b6bece;
      color: white;
      border-radius: 0px;
    }
    .confirm-dialog-container span.content-span  {
      padding: 10px 5px;
      text-align: center;
      font-size: 20px;
    }
    /*  for dialog pop-up*/
    .btn-dialog-close {
      width: 45px;
      min-width: 0px !important;
      height: 40px;
      padding: 0px !important;
    }
    /**   mat-confirm-dialog(customised dialog)   **/
    .confirm-dialog-container .mat-dialog-container {
      border-radius: .25em .25em .8em .8em;
      padding: flex;
    }
    .confirm-dialog-container .content-container {
      border-radius: 5px 5px 5px 5px;
      color: #8f9cb5;
      padding:5;
    }

    .confirm-dialog-container #close-icon {
      margin-left: auto;
      order: 2;
      font-weight: bolder;
    }

    
    .confirm-dialog-container #close-icon:hover {
    cursor: pointer;
    }
    .confirm-dialog-container #no-button {
      height: 50px;
      width: 50%;
      background-color: #fc7169;
      color: white;
      border-radius: 0px;
    }
   
.content-email {

display: center;
}