
<div class="container">
    <mat-toolbar >
    <span class="fill-remaining-space"></span> 
      <span>{{title}} </span>
    <span class="fill-remaining-space"></span>

    <button mat-stroked-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>close</mat-icon></button>
  
    </mat-toolbar>
   
   
  
    <form [formGroup]="service.formAdd" class="normal-form" *ngIf="disbadd && !disbmodif" >
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container-prospect"  *ngFor="let item of exampleItems">
            <input type="hidden" formControlName="$key" >
       
            <mat-form-field>
              <input formControlName="Social_Reason" matInput placeholder="Social Reason*" [value]="item.Social_Reason" (input)="item.Social_Reason=$event.target.value">
              <mat-error>this Field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="Phone" matInput placeholder="Phone*" [value]="item.Phone" (input)="item.Phone=$event.target.value">
                <mat-error *ngIf="service.formAdd.controls['Phone'].errors?.required">this Field is mandatory</mat-error>
                <mat-error *ngIf="service.formAdd.controls['Phone'].errors?.minLength">Minimum 8 charactors neeeds</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="Mail" matInput placeholder="Mail*" [value]="item.Mail" (input)="item.Mail=$event.target.value" >
                <mat-error>this Field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="Address" matInput placeholder=" Address*" [value]="item.Address" (input)="item.Address=$event.target.value">
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="Role" matInput placeholder="Role*" [value]="item.Role" (input)="item.Role=$event.target.value">
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
          <!--  <mat-form-field>
                <input formControlName="DateCreated" matInput placeholder=" DateCreated*" [value]="item.DateCreated" (input)="item.DateCreated=$event.target.value" >
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
            -->   
          
       <!--
 <section class="example-section">
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
              </section>
       -->      
            <div class="bottom-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.formAdd.invalid" (click)="saveProspect(item)" >Add</button>
              <button mat-raised-button color="warn" (click)="onClear()" >Clear</button>
            </div>
          </div>
          
        </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      </mat-grid-list>
  
    </form>

    <form  class="normal-form" *ngIf="!disbadd && disbmodif" >
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container-prospect"  *ngFor="let item of exampleItem">
            <input type="hidden" formControlName="$key" >
            <mat-form-field>
              <input  matInput placeholder="id*" [value]="item.id" [disabled]="true" (input)="item.id=$event.target.value" >
              <mat-error>this Field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input  matInput placeholder="Social Reason*" [value]="item.Social_Reason" (input)="item.Social_Reason=$event.target.value">
              <mat-error>this Field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input  matInput placeholder="Phone*" [value]="item.Phone" (input)="item.Phone=$event.target.value">
                <mat-error *ngIf="service.form.controls['Phone'].errors?.required">this Field is mandatory</mat-error>
                <mat-error *ngIf="service.form.controls['Phone'].errors?.minLength">Minimum 8 charactors neeeds</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mail*" [value]="item.Mail" (input)="item.Mail=$event.target.value" >
                <mat-error>this Field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input  matInput placeholder=" Address*" [value]="item.Address" (input)="item.Address=$event.target.value">
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input  matInput placeholder="Role*" [value]="item.Role" (input)="item.Role=$event.target.value">
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input  matInput placeholder=" DateCreated*" [value]="item.DateCreated" (input)="item.DateCreated=$event.target.value" >
                <mat-error>this Field is mandatory</mat-error>
              </mat-form-field>
        <!--
             <section class="example-section">
                <mat-checkbox class="example-margin">First order!</mat-checkbox>
              </section>
        -->      
            
            <div class="bottom-row">
                <button mat-raised-button color="primary" type="submit" (click)="updateProspect(item)" >update</button>
              <button mat-raised-button color="warn" (click)="onClear()" >Clear</button>
            </div>
          </div>
          
        </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      </mat-grid-list>
  
    </form>
    
    </div>